{% include "base_employee.html" %}

{% load static %}



{% block content %}

<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
.error{
color:red;
}
.error input, .error select {
border: 2px red solid;
opacity: 80%;
}
@media screen and (max-width: 460px) {
     input[type=submit] , input[type=text] , input[type=password], input[type=email]{
        margin-top: 0;
        width: 90%;
        font-size: 18px;
        overflow-x: visible;


    }
    div, #dd{
        width:100%;
                overflow-x: visible;

    }
    button{
    width:50%;
    }
}
</style>
    <nav class="flex clearfix " id="myTopnav">
        <div class="topnav" >
          <a  href="login" style="color:white" >بازگشت به صفحه ورود</a>
    </nav>


<div  style="width:100%" >


    <div  id="dd" class="uk-grid  uk-text-right " style="float:right; width:70%; padding: 5%; position: relative ">
<h2 style="text-direction: rtl; float: right;">پروفایل</h2><br><br><br>
<div style="float:right;">

                       نام:  <label class="uk-width-auto">{{e.name }} </label><br>
                   ایمیل:     <label class="uk-width-auto">{{e.email }} </label><br>
                    شماره حساب:    <label class="uk-width-auto">{{e.acc_num }} </label><br>
                       حقوق:<label class="uk-width-auto">{{e.salary }} </label><br>
                       کیف پول ریال:<label class="uk-width-auto">{{e.rial_wallet }} </label><br>
                      کیف پول دلار:   <label class="uk-width-auto">{{e.dollar_wallet }} </label><br>
                        کیف پول یورو: <label class="uk-width-auto">{{e.euro_wallet }} </label>

</div>
    </div>

</div>


{% endblock %}
